:root{
    --text-color:#3c3a3a;
    --background-color:#f4f3f7;
    --link-color:#4561ee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: var(--text-color);
    font-family: sans-serif;
    color: var(--text-color);
    max-width: 1400px;
    background-color: var(--background-color);
    margin : 0 auto; 
}
a{
    color: var(--link-color);
     text-decoration: none;
}

/*  NAV BAR */
nav {
    
    padding: 20px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    padding: 0 20px;
    height: 20px;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 30px;
}
    

nav .pages span{
    margin-left: 30px;
    color: #131212;
}



nav .pages a {
    font-size:15px;
}
nav .right a:last-child{
    padding: 3px  6px;
    object-fit: contain;
    color: #f4f3f7;
    background-color: #4561ee;
    border-radius: 3px;
    margin-left: 10px;
}

/*  hero section */
.home-section{
    display: flex;
    flex-direction:column;
    background-color: #e6e3f1;
    height: 400px;
    padding: 20px;
    margin-bottom: 50px;
    
    

    
}
.home-section   .key1{
    background-color:#9bc6e9 ;
    max-width: fit-content;
    border-radius: 10px;
    padding:5px;
    margin:0 30px;
    flex-wrap: wrap;

}
.home-section .two{
    color:var(--text-color);
    display: flex;
    justify-content: space-between;
    margin:0 30px;

}


.home-section .two .pic  img{
    border-radius: 25px;
    width: 600px;
}

.home-section .two .text .btn{
    display: flex;
    gap:10px;
}
.home-section .two .text .btn .btn2{
    margin-left: 5px;
    border-radius: 3px;
    border:none;
    padding: 5px 15px;
    background-color: rgb(247, 249, 252);
}
.home-section .two  .text .btn .btn1{
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #4561ee;
    color: var(--background-color);
}


/*  section 2:features section*/

.features-section{
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    

}

.features-section .containers{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 12px;
    line-height: 20px;
}

.features-section .containers .onee{
    background-color: #deebfa85;
    border: 1px solid #cbcaf4;
    border-radius: 5px;
    padding: 15px;
    
}
.features-section .containers .twoo{
    background-color: #f3e8f1;
    border: 1px solid #f1d5e8;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;

}
.features-section .containers .threee{
    background-color: #d1f7e2;
    border: 1px solid #c6f3c6;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;


}
/*  section 3: testimonial */

.testimonials-section{
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    background-color: #d1ddef;
    padding: 25px;
    height: auto;


}

.testimonials-section .review {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size:12px;

}

.testimonials-section .review div{
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin-left: 20px;
    flex-direction: column;

}



.testimonials-section .review i{
    color: #eaea1f;
    font-size: 10px;
    margin-bottom: 10px;
}

.testimonials-section .review .ir{

    width:auto;
    

}

/*  section 444*/

.Contact-section{
    padding: 25px;
    width: 100%;
    margin-bottom: 50px;
    display: block;

}


.bigbox {
    display: flex;
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:10px
}

.small{
    display: flex;
    line-height: 25px;
    margin-right: 50px;

}
.form-container{

    width: 100%;
    padding: 20px;
    

}

.contact-form{

    display: flex;
    width: 500px;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-color: #f7f8ff;
    line-height: 20px;

}




















